<!--modal-->
<div class="modal fade" id="countryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> {{(modalServiceData$|async)?.country!.name.official}} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis delectus earum esse
                iure magni mollitia nesciunt nobis sed. A animi aut corporis cum deserunt, illum laboriosam
                mollitia nisi tempora?
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias, doloribus ea
                earum eum exercitationem facilis fuga, hic illum labore libero minus nam natus nesciunt nihil
                nisi non obcaecati odio officia omnis pariatur quas quidem quo recusandae reiciendis, rem
                repellat rerum saepe sapiente sed similique sit temporibus tenetur veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis delectus earum esse
                iure magni mollitia nesciunt nobis sed. A animi aut corporis cum deserunt, illum laboriosam
                mollitia nisi tempora?
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias, doloribus ea
                earum eum exercitationem facilis fuga, hic illum labore libero minus nam natus nesciunt nihil
                nisi non obcaecati odio officia omnis pariatur quas quidem quo recusandae reiciendis, rem
                repellat rerum saepe sapiente sed similique sit temporibus tenetur veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis delectus earum esse
                iure magni mollitia nesciunt nobis sed. A animi aut corporis cum deserunt, illum laboriosam
                mollitia nisi tempora?
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias, doloribus ea
                earum eum exercitationem facilis fuga, hic illum labore libero minus nam natus nesciunt nihil
                nisi non obcaecati odio officia omnis pariatur quas quidem quo recusandae reiciendis, rem
                repellat rerum saepe sapiente sed similique sit temporibus tenetur veritatis.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="closeModal()">Wow!</button>
            </div>
        </div>
    </div>
</div>
