<div class="container-fluid align-items-center">
  <div class="row align-items-center justify-content-center">
    <div class="">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let url of imgagesURL; first as isFirst"
            class="carousel-item {{ isFirst ? 'active' : '' }}"
            data-bs-interval="3000"
          >
            <img
              height="500"
              src="{{ url }}"
              class="d-block w-100 p-3"
              alt="..."
            />
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
