<!--routerLinkActive="active"-->
<!--[routerLinkActiveOptions]="{exact: true}"-->
<!--class="list-group-item list-group-item-action"-->
<!--routerLink="{{ item.link }}"-->

<div class="mx-3 d-flex align-items-center">
  <span class="text mx-1">Search by: </span>
  <input
    type="radio" class="btn-check" name="options-base" id="by-capital" autocomplete="off">
  <label class="btn" for="by-capital">Capital cities</label>

  <input type="radio" class="btn-check" name="options-base" id="by-country" autocomplete="off" routerLinkActive="active">
  <label class="btn" for="by-country">Countries</label>

  <input type="radio" class="btn-check" name="options-base" id="by-region" autocomplete="off" routerLinkActive="active">
  <label class="btn" for="by-region">Regions</label>
</div>

<div class="input-group mx-3 mt-3">
  <input type="text" class="form-control" [placeholder]="_placeholder" aria-label="search" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>
