.__label{
    color: black;
    border: none;
}

.__input:checked{
    border: none;
    background-color: transparent;
    color: rgb(150, 255, 150);

}
.__input:current{
    border: none;
    background-color: transparent;
    color: rgb(150, 255, 150);

}