<div class="mx-3">
  <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off" checked>
  <label class="btn" for="option6">Capital cities</label>

  <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off">
  <label class="btn" for="option7">Countries</label>

  <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
  <label class="btn" for="option8">Regions</label>
</div>

<div class="input-group mx-3 mt-3">
  <input type="text" class="form-control" [placeholder]="_placeholder" aria-label="search" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>
