<div *ngIf="!!country">
  <div class="__modal-body">
    <div class="row">
      <div class="col m-2">
        <img
          ngSrc="{{
            country.flags.png
              ? country.flags.png
              : 'https://www.otherworldproject.com/wiki/images/9/96/Unknown_flag.png'
          }}"
          alt="flag"
          height="213"
          width="320"
          style="border: 2px solid #000"
        />
        <img
          src="{{
            country.coatOfArms.png
              ? country.coatOfArms.png
              : 'https://cdn-icons-png.flaticon.com/512/9434/9434380.png'
          }}"
          alt="No coat of arms"
          width="320"
          class="mt-3"
        />
      </div>
      <div class="col m-2">
        <div *ngFor="let i of infoItems()" class="m-1">
          <div *ngIf="i._value != 'Not provided'">
          <strong>{{ i.key! }}</strong>  {{i._value || 'Not provided'}} <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
